.card2 {
  min-width: 130px;
  margin-left: 450px;
}
.card-container {
  display: flex;
  justify-content: space-around; /* Adjust as needed */
  padding: 20px; /* Add padding to create space around the cards */
}

/* Responsive styles using media queries */

/* Small screens (e.g., phones) */
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  .container {
    width: 100%;
    padding: 10px;
  }
}

/* Medium screens (e.g., tablets) */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  body {
    font-size: 16px;
  }
}

/* Large screens (e.g., desktops) */
@media only screen and (min-width: 901px) {
  body {
    font-size: 18px;
  }
}
