body {
  margin: 0;
  padding: 0;
}

.custom-app-bar {
  padding-top: 20px; /* Increase top padding */
  padding-bottom: 20px; /* Increase bottom padding */
}

.logo {
  width: 80px; /* Increase logo size */
  height: 80px;
  border-radius: 50%; /* circle! */
}
